.filters {
    display: grid;
    margin: 20px 30px;
    background-color: rgba(133, 133, 133, 0.7);
    border: solid 10px white;
    border-radius: 35px;
    padding: 80px 20px 20px 20px;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.filters h1 {
    display: flex;
    grid-column: span 2;
    text-align: center;
    justify-self: center;
    align-self:end;
    margin: 0;
    color: white;
    font-size: 65px;
    font-weight: bold;
}

.filters h2 {
    font-size: 30px;
}

.compare-button {
    grid-column: span 2;
    width: 250px;
    background-color: #FF9400;
    border: solid white 5px;
    border-radius: 24px;
    margin: 10px;
    color: white;
    text-decoration: none;
    justify-self: center;
    text-align: center;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

.compare-button h2 {
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.compare-button:hover {
    background-color: white;
    border-color: #FF9400;
    color: #FF9400;
    cursor: pointer;
}

.filters-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    min-width: 380px;
    max-width: 800px;
    margin: 3px;
    padding: 20px;
    justify-self: center;
    align-items: center;
}

.filters-box h2 {
    color: black;
    width: 185px;
}

.filters-input {
    border-color: black;
    font-size: 27px;
    text-align: end;
    justify-self: end;
    background: white;
    height: 50px;
    width: 280px;
}

.filters-direction {
    display: grid;
    grid-template-columns: 240px 60px;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.filters-direction label {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    color: white;
}

.filters-direction img {
    justify-self: end;
}

.filters-direction input[type="radio"] {
    width: 20px;
    height: 20px;
    justify-self: start;
    
}

.filters-box1 {
    border-radius: 25px 0 0 0;
}

.filters-box6 {
    border-radius: 0 0 25px 0;
}

.travelers {
    display: grid;
    grid-template-columns: 2fr 50px 1fr 50px;
    align-items: center;
    justify-items: center;
    justify-self: end;
    gap: 10px;
    font-size: 30px;
    max-height: 70px;
}

.travelers p {
    margin: 0;
    justify-self: end;
}

.travelers button {
    width: 50px;
    height: 35px;
    font-size: 30px;
    border-radius: 18px;
    align-items: start;
}

option {
    margin: 20px;
}

@media (max-width: 1400px) {
    .filters h1 {
        grid-column: auto;
    }

    .compare-button {
        grid-column: auto;
    }

    .filters-input {
        width: 400px;
    }
}